header {
  background-color: white;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
h1 {
  padding-left: 1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}


