<div class="hero">
  <select
    name="dogs"
    [(ngModel)]="selectedBreed"
    (change)="handleBreedChange()"
  >
    <option disabled [ngValue]="undefined">-- wybierz rasę --</option>
    <option *ngFor="let dog of dogsList" [ngValue]="dog">
      {{ capitalize(dog.breed) }}
      <span *ngIf="dog.subBreed">{{ capitalize(dog.subBreed) }}</span>
    </option>
  </select>

  <app-dog-card
    *ngIf="selectedBreedImage"
    [selectedBreed]="selectedBreed"
    [selectedBreedImage]="selectedBreedImage"
  ></app-dog-card>
</div>
