<div class="card">
  <img [src]="selectedBreedImage" alt="" />
  <p *ngIf="selectedBreedImage" class="card__info">
    Poczytaj więcej o tej rasie na wikipedii:
    <a
      [href]="
        selectedBreed.subBreed ?
        'https://en.wikipedia.org/wiki/' + selectedBreed.breed + '_' + selectedBreed.subBreed
        :
        'https://en.wikipedia.org/wiki/' + selectedBreed.breed
      "
      target="_blank"
      >{{ selectedBreed.breed }}
      <span *ngIf="selectedBreed.subBreed">{{
        selectedBreed.subBreed
      }}</span></a
    >
  </p>
</div>
